/* src/views/Authentication.css */

body {
  background-color: #f2f2f2;
}

.auth-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    box-sizing: border-box;

    width: 100%;
    max-width: 450px;
    margin: 3em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #007BFF; /* Blue for focus */
}

.btn:hover {
    background-color: #e9ecef;
}

.btn:active {
    background-color: #dee2e6;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.main-btns {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Space between buttons */
    margin: 1.5em 0 0 0;
}

.btn {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ced4da;
}

.alternate-auth {
    text-align: center;
    margin-top: 1.5em;
}

.separator {
    text-align: center;
    margin: 1.5em 0 1.5em 0;
    font-size: 14px;
    color: #888;
}

.social-btns {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}



.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* input[type="email"], input[type="password"], input[type="text"] {
    width: 100%; 
} */

/* .input-email {
    width: 90%; 
} */

.input-password {
    width: 100%; 
}

.caps-indicator {
    position: absolute;
    right: 10px; /* Adjust this if you want it closer/farther from the right edge */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* So it doesn't interfere with user interaction */
}

.password-actions {
    display: flex;
    justify-content: space-between; /* This will push the elements to the left and right respectively */
    margin-top: 5px;
}

.reset-resend-text {
    cursor: pointer;
    text-decoration: underline;
}

.message-box {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 10px;
}