
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    height: 100%; 
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.activity-name {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-transform: uppercase; /* Stylish uppercase letters */
    letter-spacing: 2px; /* Add some spacing between letters */
    margin-bottom: 15px;
}
  
.digital-clock {
    font-family: 'Orbitron', monospace; /* A font that gives a digital appearance */
    font-size: 24px;
    background-color: #000;
    color: #4CAF50; /* Digital clock color */
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 30px;
}