.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adjust the gap to your preference */
}

/* Style for user email display */
.user-email p {
    margin: 0 0 10px 0; /* Adjust margin to your preference */
    font-size: 1rem; /* Adjust font size to your preference */
    color: #333; /* Adjust text color to your preference */
}