/* src/components/Button.css */
/* body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
} */

.bigButton-container {
    text-align: center;
    /* margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.bigButton {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;  /* Makes the button circular */
    background-color: #ff0000; /* Red background */
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bigButton:active {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Smaller shadow for press effect */
    transform: scale(0.98); /* Slightly reduces the size to simulate pressing */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Blue */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #0056b3; /* Darker Blue */
}

button.google {
    background-color: #4285F4;
}

button.facebook {
    background-color: #1877F2;
}

button.linkedin {
    background-color: #0A66C2;
}