/* src/components/Button.css */

.bigButton {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;  /* Makes the button circular */
    background-color: #ff0000;  /* Red */
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Relative positioning to center the text */
    left: 50%; /* Centering */
    transform: translateX(-50%); /* Centering */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Adds a shadow effect for a 3D look */
    font-size: 1rem; /* Adjust font size if necessary */
    display: flex; /* Flexbox to center the text */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

.bigButton:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); /* Darker shadow on hover for more depth */
    transform: translateX(-50%) translateY(-2px); /* Slight upward shift on hover */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Blue */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #0056b3; /* Darker Blue */
}

button.google {
    background-color: #4285F4;
}

button.facebook {
    background-color: #1877F2;
}

button.linkedin {
    background-color: #0A66C2;
}