/* src/components/NavBar.css */

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #333; /* Dark Gray */
    padding: 15px 0; /* Doubled padding */
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.nav-item {
    color: white;
    padding: 7px 15px; /* Doubled padding */
    border-radius: 15px; /* Increase border-radius for rounded effect */
    font-size: 1.5em; /* Increase font size to make icons bigger */
    transition: background-color 0.3s ease;
  
    /* Hover effect for desktop */
    &:hover {
        background-color: #555; /* Slightly Lighter Gray */
    }
}
  
/* Highlight active link */
.active {
    background-color: #555;
}